# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.egg
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*
.venv/

# Docker
.dockerignore
docker-compose.override.yml
docker-compose.*.yml

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
